@import "../../../styles/style.scss";
@import "../../../styles/_colors.scss";
@import "../../../styles/_mixins.scss";

#navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $soft-black;
  width: 100vw;
  height: 75px;
  z-index: 1000;

  .logo {
    display: flex;
    margin: 0 50px 0 30px;

    img {
      height: min-content;
      width: 40px;
      margin-right: 10px;
    }

    #title {
      @include font-size(36px);
      white-space: nowrap;
    }
  }

  #week-navigator {
    margin-right: 150px;
  }
}
