@import "../../mixins";

.add-session-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 15px;
  height: 35px;
  border: none;
  background-color: #5bc236;
  border-radius: 3px;
  color: white;
  font-weight: 700;
}

.sessions-index-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 200px;
  overflow-y: scroll;
  margin-top: 40px;

  .session-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 80%;

    .left {
      .workout-type {
        @include font-size(20px);
        font-style: italic;
        font-weight: 700;
        text-transform: lowercase;
      }
    }

    .right {
      .duration {
        width: fit-content;
        margin-left: auto;
      }
    }
  }
}
