@import "../../mixins";

.sessions-index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 200px;
  overflow-y: scroll;

  .session-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 80%;

    .left {
      .workout-type {
        @include font-size(20px);
      }
    }

    .right {
      .duration {
        width: fit-content;
        margin-left: auto;
      }
    }
  }
}
