.tile {
  width: calc(50% - 12px);
//   height: 200px;
  margin-bottom: 0;

  &:first-of-type {
    margin-right: 12px;
  }

  &:nth-of-type(2) {
    margin-left: 12px;
  }

  .container {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    // justify-content: center;
    width: 100%;

    .icon {
        border: 1px solid yellow;
        margin-right: 20px;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid blue;
    }
  }
}
