@import '../colors';

.tile {
  width: calc(50% - 12px);
  margin-bottom: 0;

  &:first-of-type {
    margin-right: 12px;
  }

  &:nth-of-type(2) {
    margin-left: 12px;
  }

  .container {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    width: 100%;

    .icon {
        margin-right: 20px;
        filter: $light-gray-filter;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
  }
}
